extends layout.pug

block content
  div(style="height:90vh")
    <h1>Hello Mongo!</h1>

    <p>Explorer la base de restaurants de la ville de New York avec cette application !</p>
    <a href="/restaurants" class="resetButton">Accéder aux restaurants</a>
    <a href="/restaurants/typedRestaurants" class="resetButton">Rechercher un restaurant par type</a>