extends layout.pug

block searchForm
    div(class="formContainer")
        H1 Want to find a yummy place ?
        <a href="/restaurants" class="resetButton">Reset la recherche</a>
        <a href="/restaurants/typedRestaurants" class="resetButton">Rechercher par type</a>
        form(action= "/restaurants", method= "post" class="formClass")
            <input type="text" name="name" placeholder="Enter restaurant's name">
            <button type='submit' value='Submit'>Chercher</button>
    if restaurants != null
      div(class="resultContainer")
        each restaurant in restaurants
            div(class="singleResultContainer")
                h5 #{restaurant.name}
                p Adresse du restaurant : #{restaurant.address.street}
                p Quartier : #{restaurant.borough}
                p Type de cuisine : #{restaurant.cuisine}
                //- <a href="#" class="btn btn-primary">Y aller</a>